### 01 Introduction to Decision Trees
- kind of supvervised ML in which the data is continually segmented based on a parameter
- breaks down a dataset into smaller and smaller datasets (tree structure)
- learning algorithm: choose a feature from the given data set -> determine the importance of feature in segmenting of data -> data segmenting depends upon the best attribute -> now the steps above will be repeated

### 02 What is Entropy?
- measure of amount of uncertainty or randomness in data
- lowest value 0, highest value 1
- low values imply less uncertainty, high values imply high uncertainty

### 03 Exploring the Dataset
- predicting a person's salary > 100$ (dependent on the job title, the company and the degree that he has)

### 04 Decision Tree Structure
- nodes represent the parameters and will be connected to each other for every combination
- we have a final yes or no answer
- 2 layers of nodes (first layer is the company, 2nd layer is the company names)

### 05 Implementation in Python: Importing Libraries and Datasets

In [1]:
#load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics #for accuracy calculation

In [2]:
#working with the dataset here
col_names = ["company", "job", "degree", "salary_more_than_100k"]
data = pd.read_csv("salaries.csv", header=None, names=col_names) #names= defining individual names from above

In [3]:
data

       company                  job      degree  salary_more_than_100k
0      company                  job      degree  salary_more_then_100k
1       google        sale exective  bachelaors                      0
2       google        sale exective     masters                      0
3       google     business manager  bachelaors                      1
4       google     business manager     masters                      1
5       google  computer programmer  bachelaors                      0
6       google  computer programmer     masters                      1
7   abc pharma        sale exective     masters                      0
8   abc pharma  computer programmer  bachelaors                      0
9   abc pharma     business manager  bachelaors                      0
10  abc pharma     business manager     masters                      1
11    facebook        sale exective  bachelaors                      1
12    facebook        sale exective     masters                      1
13    facebook     business manager  bachelaors                      1
14    facebook     business manager     masters                      1
15    facebook  computer programmer  bachelaors                      1
16    facebook  computer programmer     masters                      1

### 06 Implementation in Python: Encoding Categorical Data

In [4]:
#split the dataset into features and target variable
feature_cols = ["company", "job", "degree"]
X = data[feature_cols]
y = data["salary_more_than_100k"]

In [5]:
#import label encoder
from sklearn import preprocessing

#label_encoder object knows how to understand word labels
#assigns identical numbers to identical jobs starting with 1
label_encoder = preprocessing.LabelEncoder()

#encode labels in columns
data["company"] = label_encoder.fit_transform(data["company"])
data["job"] = label_encoder.fit_transform(data["job"])
data["degree"] = label_encoder.fit_transform(data["degree"])

print(data.head())

   company  job  degree  salary_more_than_100k
0        1    2       1  salary_more_then_100k
1        3    3       0                      0
2        3    3       2                      0
3        3    0       0                      1
4        3    0       2                      1

In [6]:
#split the dataset in features and (your desired) target variable
feature_cols = ["company", "job", "degree"]
X = data[feature_cols]
y = data["salary_more_than_100k"]
#X = data.values[1:, :3]
#y = data.values[1:, 3]
print(X)
print(y)

    company  job  degree
0         1    2       1
1         3    3       0
2         3    3       2
3         3    0       0
4         3    0       2
5         3    1       0
6         3    1       2
7         0    3       2
8         0    1       0
9         0    0       0
10        0    0       2
11        2    3       0
12        2    3       2
13        2    0       0
14        2    0       2
15        2    1       0
16        2    1       2
0     salary_more_then_100k
1                         0
2                         0
3                         1
4                         1
5                         0
6                         1
7                         0
8                         0
9                         0
10                        1
11                        1
12                        1
13                        1
14                        1
15                        1
16                        1
Name: salary_more_than_100k, dtype: object

### 07 Implementation in Python: Splitting Data into Train and Test Sets

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

### 08 Implementation in Python: Results Prediction and Accuracy

In [19]:
#create decision tree classifier object using entropy
clf_entropy = DecisionTreeClassifier(criterion="entropy", max_depth=2)

#train decision tree classifier
clf_entropy = clf_entropy.fit(X_train, y_train)

In [20]:
#predict the response for test dataset
y_pred = clf_entropy.predict(X_test)

print("Accuracy", metrics.accuracy_score(y_test, y_pred))

Accuracy 0.5