In [1]:
import pandas as pd
import os
import re
import string
from tqdm import tqdm
import nltk
from nltk.corpus import stopwords
from nltk.text import Text
from collections import Counter
from nltk.tag import pos_tag

### Dataframe betrachten

In [2]:
#csv einlesen
df = '/home/simon/Dokumente/Uni Würzburg/Digital Humanities/Bachelorarbeit/datasets/TrumpTweetToMeinKampf/Data/all_trump_original_tweets_072620.csv'

In [3]:
df = pd.read_csv (df)

In [4]:
df

         num                                               text
0          1  Last week to enter the "Think Like A Champion"...
1          2  - Wishing a Happy Father's Day to all the Dad'...
2          3  Donald Trump’s commercial-free WWE Raw does bi...
3          4  and here's another....http://www.trump.com/Gol...
4          5  @oreillyfactor is having a poll, cast your vot...
...      ...                                                ...
43132  43133  All is well! Missiles launched from Iran at tw...
43133  43134                                             CHINA!
43134  43135                            https://t.co/VXeKiVzpTf
43135  43136  The United States of America will be designati...
43136  43137  A$AP Rocky released from prison and on his way...

[43137 rows x 2 columns]

In [5]:
df["text"].value_counts().head(10)

text
MAKE AMERICA GREAT AGAIN!                                                                                                                   39
PRESIDENTIAL HARASSMENT!                                                                                                                    12
LAW &amp; ORDER!                                                                                                                            11
KEEP AMERICA GREAT!                                                                                                                          7
95% Approval Rating in the Republican Party. Thank you!                                                                                      6
For all of those who have been asking about online sales, the Donald J. Trump Signature Collection ties &amp; shirts are sold @Macys.com     5
WITCH HUNT!                                                                                                                                  5
Entrepreneurs: Negotiation is an art. Treat it like one.                                                                                     4
96% Approval Rating in the Republican Party. Thank you!                                                                                      4
AMERICA FIRST!                                                                                                                               4
Name: count, dtype: int64

--------

### Dataframe aufbereiten

In [6]:
df.head()

   num                                               text
0    1  Last week to enter the "Think Like A Champion"...
1    2  - Wishing a Happy Father's Day to all the Dad'...
2    3  Donald Trump’s commercial-free WWE Raw does bi...
3    4  and here's another....http://www.trump.com/Gol...
4    5  @oreillyfactor is having a poll, cast your vot...

In [7]:
df["clean_text"] = df['text']

In [8]:
def remove_unwanted_text(text):
    
    #hyperlinks entfernen
    text = re.sub(r'http\S+', '', text)

    #hashtags entfernen
    text = re.sub(r'#\w+', '', text)

    #@namen entfernen
    text = re.sub(r'@\w+', '', text)

    #lowercase
    text = text.lower()

    #interpunktion entfernen
    text = text.translate(str.maketrans('', '', string.punctuation))

    # Laden der Stoppwortliste
    #nltk.download('stopwords')
    stopwords = nltk.corpus.stopwords.words('english')
    
    # Stoppwörter entfernen
    words = text.split()
    words = [word for word in words if word not in stopwords]
    text = ' '.join(words)

    return text

# Funktion auf Spalte anwenden
df['clean_text'] = df['clean_text'].apply(remove_unwanted_text)

df["clean_text"].head(10)

0    last week enter think like champion signed boo...
1    wishing happy fathers day dads champion today ...
2     donald trump’s commercialfree wwe raw big rating
3                                        heres another
4                                       poll cast vote
5             innocent italian government pay travesty
6                                    done nothing help
7            stop china curse pass china currency bill
8    sold first week copies ordered holidays dont w...
9                  tops 500 best hotels world congrats
Name: clean_text, dtype: object

-------------

### Text-Dateien aus Dataframe einlesen und ausgeben

In [9]:
# Extrahieren von Sätzen
text_df = df["clean_text"]

# Erstellen einer leeren Liste
text = []

# Erweitern der Liste um die Sätze
text.extend(text_df)

# Drucken der Liste
print(text[:20])

['last week enter think like champion signed book keychain contest', 'wishing happy fathers day dads champion today everyday', 'donald trump’s commercialfree wwe raw big rating', 'heres another', 'poll cast vote', 'innocent italian government pay travesty', 'done nothing help', 'stop china curse pass china currency bill', 'sold first week copies ordered holidays dont worry', 'tops 500 best hotels world congrats', 'hes smart man poor journalist likes fabricating truth reasons ratings stink', 'first job working father fred c trump', 'parent education high priority important went one best schools cont', 'already two great pilots', 'every citizen right political analysisand shouldas well endorse cont', 'qa receive great many requests interviews nationally internationally', 'could possibility plans moment season celebrity apprentice greatbe sure watch', 'agenda cant meet always nice asked wish best', 'youll watch find', 'trademarked']

----------

### Neuen Dataframe erstellen mit Textinhalt

In [10]:
df

,num,text,clean_text
0,1,"Last week to enter the ""Think Like A Champion""...",last week enter think like champion signed boo...
1,2,- Wishing a Happy Father's Day to all the Dad'...,wishing happy fathers day dads champion today ...
2,3,Donald Trump’s commercial-free WWE Raw does bi...,donald trump’s commercialfree wwe raw big rating
3,4,and here's another....http://www.trump.com/Gol...,heres another
4,5,"@oreillyfactor is having a poll, cast your vot...",poll cast vote
...,...,...,...
43132,43133,All is well! Missiles launched from Iran at tw...,well missiles launched iran two military bases...
43133,43134,CHINA!,china
43134,43135,https://t.co/VXeKiVzpTf,
43135,43136,The United States of America will be designati...,united states america designating antifa terro...
43136,43137,A$AP Rocky released from prison and on his way...,aap rocky released prison way home united stat...

In [11]:
df.to_csv("trump_clean.csv")
print("Datei gespeichert...")

Datei gespeichert...