In [1]:
"""from google.colab import files

uploaded = files.upload()"""

'from google.colab import files\n\nuploaded = files.upload()'

In [2]:
import pandas as pd
import statsmodels.formula.api as smf
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import (confusion_matrix, accuracy_score)

In [3]:
data = pd.read_csv("Titanic.csv")

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#Abhängige Variablen in 0 und 1 umbenennen, in diesem Fall nicht notwendig
#data['Class'] = data['Class'].replace({8: 0, 9: 1})

In [6]:
data = data.dropna(subset=['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked', 'Fare'])

In [7]:
X = data.drop('Survived', axis=1)
y = data['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
X_train["Survived"] = y_train
X_test["Survived"] = y_test

In [9]:
#0 = No 1 = Yes
#X_test = X_test[['Survived', 'Pclass', 'Sex', 'Age', 'Fare']]
model = smf.logit('Survived ~ C(Pclass) + C(Sex) + Age + SibSp + Parch + Embarked + Fare', data=X_train).fit()

print(model.summary())

ValueError: endog must be in the unit interval.

In [ ]:
np.exp(model.params)

In [ ]:
1/np.exp(model.params)

In [ ]:
newpred = pd.DataFrame({"Pclass": [1], "Sex": ["female"], "Embarked": ["S"], "Age": [20], "SibSp": [0], "Parch": [0], "Fare": [0]})
model.predict(newpred)

In [ ]:
proba = 1 / (1 + np.exp( - model.fittedvalues ))

plt.hist(proba, bins=10, alpha=0.7, color='blue')
plt.xlabel('Probabilities')
plt.ylabel('Frequency')
plt.title('Histogram of Probabilities')
plt.show()

In [ ]:
print(len(X_train.loc[X_train['Survived'] == 0]))
print(len(X_train.loc[X_train['Survived'] == 1]))

In [ ]:
X_test = X_test[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked', 'Fare']]

yhat = model.predict(X_test)
prediction = list(map(round, yhat))

print('Actual values', list(y_test.values))
print('Predictions :', prediction)

In [ ]:
# Oben links: True negatives
# Oben rechts: False positives
# Unten links: False negatives
# Unten rechts: True positives

cm = confusion_matrix(y_test, prediction)
print ("Confusion Matrix : \n", cm)

print('Test accuracy = ', accuracy_score(y_test, prediction))